body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}
div {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.divbtn {
    display: block;
    float: inline-end;
}
.btn2 {
    width: 180px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    border-radius: 5%;
}
.outer {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
  }

  .inner {
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10%;
  }

a {
    text-decoration: none;
    color: #3366cc;
}
h1 {
    color: #333;
    text-align: center;
}
form {
    display:inline;
}
