body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}
div {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
a {
    text-decoration: none;
    color: #3366cc;
}
h1 {
    color: #333;
    text-align: center;
}
title {
    text-align: center;
}
button {
    width: 280px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    border-radius: 0%;
}
