body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}

.outer {
    background: #f4f4f4;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
  }

  .inner {
    padding: 50px;
    margin-top: 30%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10%;
  }
  .category {
    width: 380px;
    height: 20%;
    padding: 10px;
  }
  .titlebox{
    width: 370px;
    padding: 10px;
  }
a {
    text-decoration: none;
    color: #3366cc;
}
h1 {
    color: #333;
    text-align: center;
}
button {
    width: 390px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    border-radius: 0%;
}
